<div class="p-10 flex flex-col gap-5">
  {% form 'contact' %}
    <div class="flex flex-col gap-5 mx-auto" style="max-width: 100%; width: 700px;">
      <h1 class="text-5xl">{{ page.title }}</h1>

      {% if form.posted_successfully? %}
        Thank you for your contact
      {% endif %}

      <div class="text-red-500">
        {{ form.errors | default_errors }}
      </div>

      <div class="flex flex-col gap-2">
        <label for="name">Name</label>
        <input
          class="input input-bordered w-full"
          type="text"
          id="name"
          name="contact[name]">
      </div>

      <div class="flex gap-2">
        <div class="flex flex-col gap-2 grow">
          <label for="email">Email</label>
          <input
            class="input input-bordered w-full"
            type="email"
            id="email"
            name="contact[email]">
        </div>

        <div class="flex flex-col gap-2 grow">
          <label for="phone">Phone</label>
          <input
            class="input input-bordered w-full"
            type="tel"
            id="phone"
            name="contact[phone]">
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label for="message">Message</label>
        <textarea
          class="textarea textarea-bordered w-full"
          rows="10"
          id="message"
          name="contact[body]"></textarea>
      </div>

      <button class="btn btn-primary">
        Send
      </button>
    </div>
  {% endform %}
</div>